<html>
    <div  class="mainCard">
      <mat-card routerLink="/recipe" class="example-card">
        <img mat-card-image src="https://fr.rc-cdn.community.thermomix.com/recipeimage/2jtkhm65-92aa3-439180-cfcd2-cuh2k5ik/6b655d39-14df-428c-9536-24c0eb935c89/main/gateau-au-yaourt.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3>
            Yoghurt Cake
          </h3>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
</html>
