h1, h2{
  text-align: center;
}

.image {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.infoTime {
  margin-top: 1%;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listeIngredients {
  width: 600px;

  margin-right: auto;
  margin-left: auto;
}


