.flex{
  display: flex;
}

.m-auto{
  margin: auto;
}

mat-card{
  background-color: #F984D9;
}

mat-card-title{
  padding-top: 5%;
  text-align: center;
}

mat-card-subtitle {
  margin: 7%;
}

mat-divider{
  margin: 5%;
  margin-left: 25%;
  width: 50%;
}

.container{
  padding: 12%;
}


